@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Este é um comentário em CSS: link de refêrência do font google, opne sans, a fonte usada no projeto */
*{
    /*resetando o margem do navegador, colocadno os valores de cada igual a 0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: "Open Sans", sans-serif;
}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{

    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px; /*siginifca que alteramos a borda para ter o arrendodamento nas quinas da de cima do lado esquerdo (top)*/
    border-bottom-left-radius: 15px; /*siginifca que alteramos a borda para ter o arrendodamento nas quinas da de baixo do lado esquerdo (bottom) */
    left: 0;
}

.first-content{

    display: flex;
    
}
.first-content .second-column{

    z-index:11;
}
.title{
   
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;

}
.title-bemvindo{

    color: #fff;

}
.title-second{
    
    color: #58af9b;
}
.description{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary{
    color: #fff;
}
.description-second{
    color: #95a5a6;
}
.btn{

    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center; /* centralizadno botão de de criar a conta */
    border: none; /* usando o (border: none) para tirar a borda padrão do navgador*/
    margin-top: 1rem /* duvida se deixa essa margem aqui ou não do botão para os inputs: margin-top: 1rem*/
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s; /* transição ddo mouse da duração passadno pelo login, toque suave*/
    
}
.btn-second{

    background-color: #58af9b;
    border: 1px solid #58af9b;
   transition: background-color  .5s; /* transição ddo mouse da duração passadno pelo login, to que suave*/
}
.btn-second:hover{

    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}
.btn-primary:hover{
    background-color: #fff ;
    color: #58af9b;
}
.first-column{

    text-align: center;
    width: 40%;
    z-index: 10;

}
.second-column{

    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-social-media{
    display: flex;
    list-style-type: none;
}
.item-social-media a{

    border-radius: 1px solid #bdc3c7;
    color: #95a5a6;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55% ;
    
}
.form input{

    width: 100%; 
    height: 45px;
    border: none;
    background-color: #ecf0f1;

}
input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input{

    background-color: #ecf0f1;
    display: flex; /* colocadno os icones alinhados*/
    align-items: center; 
    margin: 8px;
}
.icon-modify{

    color: #7f8c8d;
    padding: 0 5px;
}
/* second content */

.second-content{

    position: absolute;
    display: flex;
}
.second-content .first-column{ 
    order: 2;
    z-index: -1;
}

.second-content .second-column{
    order: 1;
    z-index: -1;
}
.password{

    color: #34495e;
    font-size: 14px;  
    margin: 15px 0;
    text-align: center; /* centralizando o esqueceu senha*/
}
.password::first-letter{ /*colocadno a letra do esqueceu senha com E maiusculo*/
    text-transform: capitalize;
}
.sign-in-js .first-content .first-column, /*quando clicarmos no botão o js vai inserir uma classe no body para fazer a inversão e aparecer a tela de login pro usuário, ou seja o meu primeiro conteúdo é o que some e o segundo é o que aparece*/
.sign-in-js .first-content .second-column{
    z-index: -1;;
}

.sign-in-js .second-content .first-column,
.sign-in-js .second-content .second-column{

    z-index: 11;
}

.sign-in-js .content::before{
    left: 60%;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{

    z-index: -1;
}

.sign-up-js .first-content .first-column, /*quando eu clicar em cadastarr o meu body vai receber a class sign up, e voltar para aréa do cadastro*/
.sign-up-js .first-content .second-column{
    z-index: 11;
}